<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/assets/css/styles.css" type="text/css" />
		<title>Eat The Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/assets/js/burgers.js"></script>
	</head>
	<body>
         <img src="https://media.giphy.com/media/26vIff9kgOkDOBvXy/giphy.gif" alt="burger">
		{{{ body }}}
	</body>
</html>





