<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/assets/css/styles.css" type="text/css" />
		<title>Eat The Burger</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/public/burgers.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
		<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
	</head>
	<body>
         <img src="https://media.giphy.com/media/26vIff9kgOkDOBvXy/giphy.gif" alt="burger" style="width:50%;">
		{{{ body }}}
	</body>
</html>





